---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/change?access_key=currency_layer_key123&currencies=CHF,GBP&end_date=2016-03-01&source=EUR&start_date=2016-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 6b1b23901363ff0e6ff5cf0ef5a528d3
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","change":true,"start_date":"2016-01-01","end_date":"2016-03-01","source":"EUR","quotes":{"EURCHF":{"start_rate":1.087169,"end_rate":1.084274,"change":-0.0029,"change_pct":-0.2663},"EURGBP":{"start_rate":0.73503,"end_rate":0.77909,"change":0.0441,"change_pct":5.9943}}}'
  recorded_at: Sun, 22 May 2016 08:29:35 GMT
recorded_with: VCR 3.0.1
