---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/change?access_key=currency_layer_key123&end_date=2016-03-01&source=EUR&start_date=2016-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - dee33be980eb16ac8eebfc2757f9e857
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","change":true,"start_date":"2016-01-01","end_date":"2016-03-01","source":"EUR","quotes":{"EURAED":{"start_rate":3.988929,"end_rate":3.995285,"change":0.0064,"change_pct":0.1593},"EURAFN":{"start_rate":74.251784,"end_rate":74.64886,"change":0.3971,"change_pct":0.5348},"EURALL":{"start_rate":137.023697,"end_rate":138.126504,"change":1.1028,"change_pct":0.8048},"EURAMD":{"start_rate":525.366254,"end_rate":535.192005,"change":9.8258,"change_pct":1.8703},"EURANG":{"start_rate":1.94404,"end_rate":1.94718,"change":0.0031,"change_pct":0.1615},"EURAOA":{"start_rate":146.858234,"end_rate":172.758326,"change":25.9001,"change_pct":17.6361},"EURARS":{"start_rate":14.100399,"end_rate":17.176363,"change":3.076,"change_pct":21.8147},"EURAUD":{"start_rate":1.487076,"end_rate":1.514987,"change":0.0279,"change_pct":1.8769},"EURAWG":{"start_rate":1.943991,"end_rate":1.946983,"change":0.003,"change_pct":0.1539},"EURAZN":{"start_rate":1.696431,"end_rate":1.693495,"change":-0.0029,"change_pct":-0.1731},"EURBAM":{"start_rate":1.95458,"end_rate":1.957588,"change":0.003,"change_pct":0.1539},"EURBBD":{"start_rate":2.172057,"end_rate":2.1754,"change":0.0033,"change_pct":0.1539},"EURBDT":{"start_rate":85.468771,"end_rate":85.402904,"change":-0.0659,"change_pct":-0.0771},"EURBGN":{"start_rate":1.955775,"end_rate":1.958024,"change":0.0022,"change_pct":0.115},"EURBHD":{"start_rate":0.409487,"end_rate":0.410031,"change":0.0005,"change_pct":0.1328},"EURBIF":{"start_rate":1691.1638,"end_rate":1694.908802,"change":3.745,"change_pct":0.2214},"EURBMD":{"start_rate":1.085974,"end_rate":1.087646,"change":0.0017,"change_pct":0.154},"EURBND":{"start_rate":1.53988,"end_rate":1.52327,"change":-0.0166,"change_pct":-1.0787},"EURBOB":{"start_rate":7.493878,"end_rate":7.450739,"change":-0.0431,"change_pct":-0.5757},"EURBRL":{"start_rate":4.299642,"end_rate":4.2708,"change":-0.0288,"change_pct":-0.6708},"EURBSD":{"start_rate":1.089184,"end_rate":1.088456,"change":-0.0007,"change_pct":-0.0668},"EURBTC":{"start_rate":0.0025,"end_rate":0.002508,"change":0,"change_pct":0.32},"EURBTN":{"start_rate":71.847585,"end_rate":73.882038,"change":2.0345,"change_pct":2.8316},"EURBWP":{"start_rate":12.271526,"end_rate":12.327395,"change":0.0559,"change_pct":0.4553},"EURBYR":{"start_rate":20229.456139,"end_rate":23222.398792,"change":2,"change_pct":14.795},"EURBZD":{"start_rate":2.166612,"end_rate":2.169934,"change":0.0033,"change_pct":0.1533},"EURCAD":{"start_rate":1.50453,"end_rate":1.460509,"change":-0.044,"change_pct":-2.9259},"EURCDF":{"start_rate":1004.576353,"end_rate":1003.947202,"change":-0.6292,"change_pct":-0.0626},"EURCHF":{"start_rate":1.087169,"end_rate":1.084274,"change":-0.0029,"change_pct":-0.2663},"EURCLF":{"start_rate":0.02672,"end_rate":0.02676,"change":0,"change_pct":0.1497},"EURCLP":{"start_rate":769.619683,"end_rate":757.768064,"change":-11.8516,"change_pct":-1.5399},"EURCNY":{"start_rate":7.072109,"end_rate":7.117367,"change":0.0453,"change_pct":0.64},"EURCOP":{"start_rate":3452.789279,"end_rate":3512.499349,"change":59.7101,"change_pct":1.7293},"EURCRC":{"start_rate":583.523194,"end_rate":581.571523,"change":-1.9517,"change_pct":-0.3345},"EURCUC":{"start_rate":1.08605,"end_rate":1.087755,"change":0.0017,"change_pct":0.157},"EURCUP":{"start_rate":1.085565,"end_rate":1.087801,"change":0.0022,"change_pct":0.206},"EURCVE":{"start_rate":110.3076,"end_rate":110.423319,"change":0.1157,"change_pct":0.1049},"EURCZK":{"start_rate":27.033972,"end_rate":27.058172,"change":0.0242,"change_pct":0.0895},"EURDJF":{"start_rate":193.063322,"end_rate":193.213616,"change":0.1503,"change_pct":0.0778},"EURDKK":{"start_rate":7.463839,"end_rate":7.460973,"change":-0.0029,"change_pct":-0.0384},"EURDOP":{"start_rate":49.446885,"end_rate":49.707899,"change":0.261,"change_pct":0.5279},"EURDZD":{"start_rate":116.552679,"end_rate":118.358097,"change":1.8054,"change_pct":1.549},"EUREEK":{"start_rate":15.622523,"end_rate":15.622607,"change":0.0001,"change_pct":0.0005},"EUREGP":{"start_rate":8.503716,"end_rate":8.515825,"change":0.0121,"change_pct":0.1424},"EURERN":{"start_rate":18.223562,"end_rate":17.598872,"change":-0.6247,"change_pct":-3.4279},"EURETB":{"start_rate":23.005347,"end_rate":23.215863,"change":0.2105,"change_pct":0.9151},"EUREUR":{"start_rate":1,"end_rate":1,"change":0,"change_pct":0},"EURFJD":{"start_rate":2.310197,"end_rate":2.332571,"change":0.0224,"change_pct":0.9685},"EURFKP":{"start_rate":0.720252,"end_rate":0.717557,"change":-0.0027,"change_pct":-0.3742},"EURGBP":{"start_rate":0.73503,"end_rate":0.77909,"change":0.0441,"change_pct":5.9943},"EURGEL":{"start_rate":2.596916,"end_rate":2.681164,"change":0.0842,"change_pct":3.2442},"EURGGP":{"start_rate":0.713043,"end_rate":0.779598,"change":0.0666,"change_pct":9.3339},"EURGHS":{"start_rate":4.137924,"end_rate":4.280122,"change":0.1422,"change_pct":3.4365},"EURGIP":{"start_rate":0.736981,"end_rate":0.784666,"change":0.0477,"change_pct":6.4703},"EURGMD":{"start_rate":42.740712,"end_rate":42.610653,"change":-0.1301,"change_pct":-0.3043},"EURGNF":{"start_rate":8358.999917,"end_rate":8324.984998,"change":-34.0149,"change_pct":-0.4069},"EURGTQ":{"start_rate":8.290201,"end_rate":8.362785,"change":0.0726,"change_pct":0.8755},"EURGYD":{"start_rate":225.036009,"end_rate":225.382361,"change":0.3464,"change_pct":0.1539},"EURHKD":{"start_rate":8.417372,"end_rate":8.454171,"change":0.0368,"change_pct":0.4372},"EURHNL":{"start_rate":24.27815,"end_rate":24.593663,"change":0.3155,"change_pct":1.2996},"EURHRK":{"start_rate":7.639614,"end_rate":7.612486,"change":-0.0271,"change_pct":-0.3551},"EURHTG":{"start_rate":61.513094,"end_rate":66.827539,"change":5.3144,"change_pct":8.6395},"EURHUF":{"start_rate":314.823433,"end_rate":309.923848,"change":-4.8996,"change_pct":-1.5563},"EURIDR":{"start_rate":15025.206726,"end_rate":14433.781357,"change":-591.4254,"change_pct":-3.9362},"EURILS":{"start_rate":4.22335,"end_rate":4.225389,"change":0.002,"change_pct":0.0483},"EURIMP":{"start_rate":0.713282,"end_rate":0.779544,"change":0.0663,"change_pct":9.2897},"EURINR":{"start_rate":71.933052,"end_rate":73.528481,"change":1.5954,"change_pct":2.2179},"EURIQD":{"start_rate":1202.342321,"end_rate":1204.192841,"change":1.8505,"change_pct":0.1539},"EURIRR":{"start_rate":32722.04408,"end_rate":32843.106925,"change":121.0628,"change_pct":0.37},"EURISK":{"start_rate":141.210872,"end_rate":141.428209,"change":0.2173,"change_pct":0.1539},"EURJEP":{"start_rate":0.713293,"end_rate":0.779544,"change":0.0663,"change_pct":9.288},"EURJMD":{"start_rate":130.296288,"end_rate":131.840137,"change":1.5438,"change_pct":1.1849},"EURJOD":{"start_rate":0.770049,"end_rate":0.77116,"change":0.0011,"change_pct":0.1443},"EURJPY":{"start_rate":131.007636,"end_rate":123.938041,"change":-7.0696,"change_pct":-5.3963},"EURKES":{"start_rate":111.415136,"end_rate":110.510336,"change":-0.9048,"change_pct":-0.8121},"EURKGS":{"start_rate":82.428816,"end_rate":80.368863,"change":-2.06,"change_pct":-2.4991},"EURKHR":{"start_rate":4416.335109,"end_rate":4366.568416,"change":-49.7667,"change_pct":-1.1269},"EURKMF":{"start_rate":491.641217,"end_rate":492.3979,"change":0.7567,"change_pct":0.1539},"EURKPW":{"start_rate":977.425516,"end_rate":978.929814,"change":1.5043,"change_pct":0.1539},"EURKRW":{"start_rate":1276.784204,"end_rate":1336.408293,"change":59.6241,"change_pct":4.6699},"EURKWD":{"start_rate":0.329504,"end_rate":0.326582,"change":-0.0029,"change_pct":-0.8868},"EURKYD":{"start_rate":0.890427,"end_rate":0.892096,"change":0.0017,"change_pct":0.1874},"EURKZT":{"start_rate":370.954756,"end_rate":378.85678,"change":7.902,"change_pct":2.1302},"EURLAK":{"start_rate":8846.735501,"end_rate":8837.50977,"change":-9.2257,"change_pct":-0.1043},"EURLBP":{"start_rate":1637.839819,"end_rate":1641.230824,"change":3.391,"change_pct":0.207},"EURLKR":{"start_rate":157.099477,"end_rate":157.341268,"change":0.2418,"change_pct":0.1539},"EURLRD":{"start_rate":91.943192,"end_rate":92.084701,"change":0.1415,"change_pct":0.1539},"EURLSL":{"start_rate":16.795457,"end_rate":16.959963,"change":0.1645,"change_pct":0.9795},"EURLTL":{"start_rate":3.310976,"end_rate":3.316069,"change":0.0051,"change_pct":0.1538},"EURLVL":{"start_rate":0.673935,"end_rate":0.674972,"change":0.001,"change_pct":0.1539},"EURLYD":{"start_rate":1.490303,"end_rate":1.47378,"change":-0.0165,"change_pct":-1.1087},"EURMAD":{"start_rate":10.772916,"end_rate":10.776879,"change":0.004,"change_pct":0.0368},"EURMDL":{"start_rate":21.394766,"end_rate":21.721371,"change":0.3266,"change_pct":1.5266},"EURMGA":{"start_rate":3502.551188,"end_rate":3499.512273,"change":-3.0389,"change_pct":-0.0868},"EURMKD":{"start_rate":61.414921,"end_rate":61.634532,"change":0.2196,"change_pct":0.3576},"EURMMK":{"start_rate":1419.168325,"end_rate":1348.856964,"change":-70.3114,"change_pct":-4.9544},"EURMNT":{"start_rate":2164.4554,"end_rate":2209.661343,"change":45.2059,"change_pct":2.0886},"EURMOP":{"start_rate":8.669279,"end_rate":8.707095,"change":0.0378,"change_pct":0.4362},"EURMRO":{"start_rate":338.841298,"end_rate":373.08104,"change":34.2397,"change_pct":10.1049},"EURMUR":{"start_rate":38.934126,"end_rate":39.102822,"change":0.1687,"change_pct":0.4333},"EURMVR":{"start_rate":16.735448,"end_rate":16.753393,"change":0.0179,"change_pct":0.1072},"EURMWK":{"start_rate":727.280805,"end_rate":812.386958,"change":85.1062,"change_pct":11.702},"EURMXN":{"start_rate":18.684471,"end_rate":19.492681,"change":0.8082,"change_pct":4.3256},"EURMYR":{"start_rate":4.673127,"end_rate":4.503459,"change":-0.1697,"change_pct":-3.6307},"EURMZN":{"start_rate":52.12948,"end_rate":52.960121,"change":0.8306,"change_pct":1.5934},"EURNAD":{"start_rate":16.795453,"end_rate":16.959968,"change":0.1645,"change_pct":0.9795},"EURNGN":{"start_rate":216.174011,"end_rate":216.506724,"change":0.3327,"change_pct":0.1539},"EURNIO":{"start_rate":30.330936,"end_rate":30.625615,"change":0.2947,"change_pct":0.9715},"EURNOK":{"start_rate":9.605652,"end_rate":9.401156,"change":-0.2045,"change_pct":-2.1289},"EURNPR":{"start_rate":114.956133,"end_rate":118.211666,"change":3.2555,"change_pct":2.832},"EURNZD":{"start_rate":1.586171,"end_rate":1.638658,"change":0.0525,"change_pct":3.309},"EUROMR":{"start_rate":0.418175,"end_rate":0.41879,"change":0.0006,"change_pct":0.1471},"EURPAB":{"start_rate":1.0892,"end_rate":1.08832,"change":-0.0009,"change_pct":-0.0808},"EURPEN":{"start_rate":3.708241,"end_rate":3.824626,"change":0.1164,"change_pct":3.1386},"EURPGK":{"start_rate":3.267915,"end_rate":3.307808,"change":0.0399,"change_pct":1.2207},"EURPHP":{"start_rate":50.892936,"end_rate":51.367183,"change":0.4742,"change_pct":0.9319},"EURPKR":{"start_rate":113.745214,"end_rate":113.909399,"change":0.1642,"change_pct":0.1443},"EURPLN":{"start_rate":4.28417,"end_rate":4.333719,"change":0.0495,"change_pct":1.1566},"EURPYG":{"start_rate":6279.385454,"end_rate":6224.407817,"change":-54.9776,"change_pct":-0.8755},"EURQAR":{"start_rate":3.954611,"end_rate":3.960915,"change":0.0063,"change_pct":0.1594},"EURRON":{"start_rate":4.525753,"end_rate":4.47246,"change":-0.0533,"change_pct":-1.1775},"EURRSD":{"start_rate":121.440109,"end_rate":123.628007,"change":2.1879,"change_pct":1.8016},"EURRUB":{"start_rate":79.279546,"end_rate":79.61911,"change":0.3396,"change_pct":0.4283},"EURRWF":{"start_rate":812.262549,"end_rate":833.352339,"change":21.0898,"change_pct":2.5964},"EURSAR":{"start_rate":4.077006,"end_rate":4.079038,"change":0.002,"change_pct":0.0498},"EURSBD":{"start_rate":8.837272,"end_rate":8.793623,"change":-0.0436,"change_pct":-0.4939},"EURSCR":{"start_rate":14.242126,"end_rate":14.471797,"change":0.2297,"change_pct":1.6126},"EURSDG":{"start_rate":6.756399,"end_rate":6.635084,"change":-0.1213,"change_pct":-1.7956},"EURSEK":{"start_rate":9.187912,"end_rate":9.372496,"change":0.1846,"change_pct":2.009},"EURSGD":{"start_rate":1.532489,"end_rate":1.524102,"change":-0.0084,"change_pct":-0.5473},"EURSHP":{"start_rate":0.736982,"end_rate":0.780751,"change":0.0438,"change_pct":5.939},"EURSLL":{"start_rate":4504.847141,"end_rate":4426.93944,"change":-77.9077,"change_pct":-1.7294},"EURSOS":{"start_rate":674.641026,"end_rate":660.83223,"change":-13.8088,"change_pct":-2.0468},"EURSRD":{"start_rate":4.343696,"end_rate":4.350972,"change":0.0073,"change_pct":0.1675},"EURSTD":{"start_rate":24419.354769,"end_rate":24520.568954,"change":101.2142,"change_pct":0.4145},"EURSVC":{"start_rate":9.477987,"end_rate":9.492377,"change":0.0144,"change_pct":0.1518},"EURSYP":{"start_rate":239.46281,"end_rate":239.077581,"change":-0.3852,"change_pct":-0.1609},"EURSZL":{"start_rate":16.795449,"end_rate":16.95997,"change":0.1645,"change_pct":0.9796},"EURTHB":{"start_rate":39.043272,"end_rate":38.712322,"change":-0.331,"change_pct":-0.8476},"EURTJS":{"start_rate":7.591559,"end_rate":8.559767,"change":0.9682,"change_pct":12.7537},"EURTMT":{"start_rate":3.8011,"end_rate":3.806951,"change":0.0059,"change_pct":0.1539},"EURTND":{"start_rate":2.216313,"end_rate":2.231036,"change":0.0147,"change_pct":0.6643},"EURTOP":{"start_rate":2.390667,"end_rate":2.432951,"change":0.0423,"change_pct":1.7687},"EURTRY":{"start_rate":3.164634,"end_rate":3.193927,"change":0.0293,"change_pct":0.9256},"EURTTD":{"start_rate":6.975021,"end_rate":7.080169,"change":0.1051,"change_pct":1.5075},"EURTWD":{"start_rate":35.749891,"end_rate":35.982211,"change":0.2323,"change_pct":0.6498},"EURTZS":{"start_rate":2352.44682,"end_rate":2382.824726,"change":30.3779,"change_pct":1.2913},"EURUAH":{"start_rate":26.095096,"end_rate":29.520182,"change":3.4251,"change_pct":13.1254},"EURUGX":{"start_rate":3662.089012,"end_rate":3632.918739,"change":-29.1703,"change_pct":-0.7965},"EURUSD":{"start_rate":1.086029,"end_rate":1.0877,"change":0.0017,"change_pct":0.1539},"EURUYU":{"start_rate":32.488549,"end_rate":35.431834,"change":2.9433,"change_pct":9.0595},"EURUZS":{"start_rate":3051.718836,"end_rate":3096.279829,"change":44.561,"change_pct":1.4602},"EURVEF":{"start_rate":6.896319,"end_rate":6.906991,"change":0.0107,"change_pct":0.1547},"EURVND":{"start_rate":24419.354769,"end_rate":24257.889361,"change":-161.4654,"change_pct":-0.6612},"EURVUV":{"start_rate":122.183653,"end_rate":122.964508,"change":0.7809,"change_pct":0.6391},"EURWST":{"start_rate":2.80505,"end_rate":2.84225,"change":0.0372,"change_pct":1.3262},"EURXAF":{"start_rate":655.521579,"end_rate":656.53049,"change":1.0089,"change_pct":0.1539},"EURXAG":{"start_rate":0.078385,"end_rate":0.073345,"change":-0.005,"change_pct":-6.4298},"EURXAU":{"start_rate":0.001024,"end_rate":0.000882,"change":-0.0001,"change_pct":-13.8672},"EURXCD":{"start_rate":2.956526,"end_rate":2.943855,"change":-0.0127,"change_pct":-0.4286},"EURXDR":{"start_rate":0.78471,"end_rate":0.787766,"change":0.0031,"change_pct":0.3894},"EURXOF":{"start_rate":655.521579,"end_rate":656.53049,"change":1.0089,"change_pct":0.1539},"EURXPF":{"start_rate":119.252522,"end_rate":119.436063,"change":0.1835,"change_pct":0.1539},"EURYER":{"start_rate":233.631937,"end_rate":233.909926,"change":0.278,"change_pct":0.119},"EURZAR":{"start_rate":16.801929,"end_rate":16.941147,"change":0.1392,"change_pct":0.8286},"EURZMK":{"start_rate":5599.657023,"end_rate":5608.290804,"change":8.6338,"change_pct":0.1542},"EURZMW":{"start_rate":11.946666,"end_rate":12.377884,"change":0.4312,"change_pct":3.6095},"EURZWL":{"start_rate":350.086786,"end_rate":350.625603,"change":0.5388,"change_pct":0.1539}}}'
  recorded_at: Sun, 22 May 2016 08:17:13 GMT
recorded_with: VCR 3.0.1
