---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/change?access_key=currency_layer_key123&currencies=CHF,GBP&source=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - a3b6c5487cd0bfa6ca53d5e94d0200b2
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","change":true,"start_date":"2016-05-21","end_date":"2016-05-22","source":"EUR","quotes":{"EURCHF":{"start_rate":1.111192,"end_rate":1.111192,"change":0,"change_pct":0},"EURGBP":{"start_rate":0.773416,"end_rate":0.773416,"change":0,"change_pct":0}}}'
  recorded_at: Sun, 22 May 2016 07:08:24 GMT
recorded_with: VCR 3.0.1
