---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/change?access_key=currency_layer_key123&source=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - d518456508eb3a9ba14ebc825eecf121
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","change":true,"start_date":"2016-05-21","end_date":"2016-05-22","source":"EUR","quotes":{"EURAED":{"start_rate":4.121599,"end_rate":4.121599,"change":0,"change_pct":0},"EURAFN":{"start_rate":77.102879,"end_rate":77.102879,"change":0,"change_pct":0},"EURALL":{"start_rate":138.079917,"end_rate":138.079917,"change":0,"change_pct":0},"EURAMD":{"start_rate":536.802565,"end_rate":536.802565,"change":0,"change_pct":0},"EURANG":{"start_rate":2.009099,"end_rate":2.009099,"change":0,"change_pct":0},"EURAOA":{"start_rate":185.974932,"end_rate":185.974932,"change":0,"change_pct":0},"EURARS":{"start_rate":15.816639,"end_rate":15.816639,"change":0,"change_pct":0},"EURAUD":{"start_rate":1.554763,"end_rate":1.554763,"change":0,"change_pct":0},"EURAWG":{"start_rate":2.008647,"end_rate":2.008647,"change":0,"change_pct":0},"EURAZN":{"start_rate":1.680087,"end_rate":1.680087,"change":0,"change_pct":0},"EURBAM":{"start_rate":1.955514,"end_rate":1.955514,"change":0,"change_pct":0},"EURBBD":{"start_rate":2.244299,"end_rate":2.244299,"change":0,"change_pct":0},"EURBDT":{"start_rate":88.262602,"end_rate":88.262602,"change":0,"change_pct":0},"EURBGN":{"start_rate":1.957309,"end_rate":1.957309,"change":0,"change_pct":0},"EURBHD":{"start_rate":0.422882,"end_rate":0.422882,"change":0,"change_pct":0},"EURBIF":{"start_rate":1751.618926,"end_rate":1751.618926,"change":0,"change_pct":0},"EURBMD":{"start_rate":1.122093,"end_rate":1.122093,"change":0,"change_pct":0},"EURBND":{"start_rate":1.551316,"end_rate":1.551316,"change":0,"change_pct":0},"EURBOB":{"start_rate":7.726044,"end_rate":7.726044,"change":0,"change_pct":0},"EURBRL":{"start_rate":4.009047,"end_rate":4.009047,"change":0,"change_pct":0},"EURBSD":{"start_rate":1.122256,"end_rate":1.122256,"change":0,"change_pct":0},"EURBTC":{"start_rate":0.002533,"end_rate":0.002538,"change":0,"change_pct":0.1974},"EURBTN":{"start_rate":75.717023,"end_rate":75.717023,"change":0,"change_pct":0},"EURBWP":{"start_rate":12.624685,"end_rate":12.624685,"change":0,"change_pct":0},"EURBYR":{"start_rate":21988.515924,"end_rate":21988.515924,"change":0,"change_pct":0},"EURBZD":{"start_rate":2.238734,"end_rate":2.238734,"change":0,"change_pct":0},"EURCAD":{"start_rate":1.471307,"end_rate":1.471307,"change":0,"change_pct":0},"EURCDF":{"start_rate":1036.866378,"end_rate":1036.866378,"change":0,"change_pct":0},"EURCHF":{"start_rate":1.111192,"end_rate":1.111192,"change":0,"change_pct":0},"EURCLF":{"start_rate":0.02761,"end_rate":0.02761,"change":0,"change_pct":0},"EURCLP":{"start_rate":777.419419,"end_rate":777.419419,"change":0,"change_pct":0},"EURCNY":{"start_rate":7.345534,"end_rate":7.345534,"change":0,"change_pct":0},"EURCOP":{"start_rate":3424.777259,"end_rate":3424.777259,"change":0,"change_pct":0},"EURCRC":{"start_rate":601.573059,"end_rate":601.573059,"change":0,"change_pct":0},"EURCUC":{"start_rate":1.122149,"end_rate":1.122149,"change":0,"change_pct":0},"EURCUP":{"start_rate":1.122553,"end_rate":1.122553,"change":0,"change_pct":0},"EURCVE":{"start_rate":110.365627,"end_rate":110.365627,"change":0,"change_pct":0},"EURCZK":{"start_rate":27.023601,"end_rate":27.023601,"change":0,"change_pct":0},"EURDJF":{"start_rate":199.484489,"end_rate":199.484489,"change":0,"change_pct":0},"EURDKK":{"start_rate":7.438336,"end_rate":7.438336,"change":0,"change_pct":0},"EURDOP":{"start_rate":51.439766,"end_rate":51.439766,"change":0,"change_pct":0},"EURDZD":{"start_rate":123.65529,"end_rate":123.65529,"change":0,"change_pct":0},"EUREEK":{"start_rate":15.652906,"end_rate":15.645051,"change":-0.0079,"change_pct":-0.0502},"EUREGP":{"start_rate":9.964518,"end_rate":9.964518,"change":0,"change_pct":0},"EURERN":{"start_rate":18.156816,"end_rate":18.156816,"change":0,"change_pct":0},"EURETB":{"start_rate":24.328637,"end_rate":24.328637,"change":0,"change_pct":0},"EUREUR":{"start_rate":1,"end_rate":1,"change":0,"change_pct":0},"EURFJD":{"start_rate":2.386532,"end_rate":2.386532,"change":0,"change_pct":0},"EURFKP":{"start_rate":0.740399,"end_rate":0.740399,"change":0,"change_pct":0},"EURGBP":{"start_rate":0.773416,"end_rate":0.773416,"change":0,"change_pct":0},"EURGEL":{"start_rate":2.407055,"end_rate":2.407055,"change":0,"change_pct":0},"EURGGP":{"start_rate":0.773496,"end_rate":0.773496,"change":0,"change_pct":0},"EURGHS":{"start_rate":4.325931,"end_rate":4.325931,"change":0,"change_pct":0},"EURGIP":{"start_rate":0.778664,"end_rate":0.778664,"change":0,"change_pct":0},"EURGMD":{"start_rate":48.033647,"end_rate":48.033647,"change":0,"change_pct":0},"EURGNF":{"start_rate":8242.242643,"end_rate":8242.242643,"change":0,"change_pct":0},"EURGTQ":{"start_rate":8.565535,"end_rate":8.565535,"change":0,"change_pct":0},"EURGYD":{"start_rate":231.454461,"end_rate":231.454461,"change":0,"change_pct":0},"EURHKD":{"start_rate":8.717422,"end_rate":8.717422,"change":0,"change_pct":0},"EURHNL":{"start_rate":25.338076,"end_rate":25.338076,"change":0,"change_pct":0},"EURHRK":{"start_rate":7.473234,"end_rate":7.473234,"change":0,"change_pct":0},"EURHTG":{"start_rate":70.178604,"end_rate":70.178604,"change":0,"change_pct":0},"EURHUF":{"start_rate":314.976095,"end_rate":314.976095,"change":0,"change_pct":0},"EURIDR":{"start_rate":15308.922097,"end_rate":15308.922097,"change":0,"change_pct":0},"EURILS":{"start_rate":4.361126,"end_rate":4.361126,"change":0,"change_pct":0},"EURIMP":{"start_rate":0.773496,"end_rate":0.773496,"change":0,"change_pct":0},"EURINR":{"start_rate":75.660862,"end_rate":75.660862,"change":0,"change_pct":0},"EURIQD":{"start_rate":1308.594319,"end_rate":1308.594319,"change":0,"change_pct":0},"EURIRR":{"start_rate":34081.91954,"end_rate":34081.91954,"change":0,"change_pct":0},"EURISK":{"start_rate":139.668311,"end_rate":139.668311,"change":0,"change_pct":0},"EURJEP":{"start_rate":0.773496,"end_rate":0.773496,"change":0,"change_pct":0},"EURJMD":{"start_rate":139.729978,"end_rate":139.729978,"change":0,"change_pct":0},"EURJOD":{"start_rate":0.794987,"end_rate":0.794987,"change":0,"change_pct":0},"EURJPY":{"start_rate":123.593525,"end_rate":123.593525,"change":0,"change_pct":0},"EURKES":{"start_rate":113.168201,"end_rate":113.168201,"change":0,"change_pct":0},"EURKGS":{"start_rate":76.577043,"end_rate":76.577043,"change":0,"change_pct":0},"EURKHR":{"start_rate":4555.870076,"end_rate":4555.870076,"change":0,"change_pct":0},"EURKMF":{"start_rate":493.268732,"end_rate":493.268732,"change":0,"change_pct":0},"EURKPW":{"start_rate":1009.934781,"end_rate":1009.934781,"change":0,"change_pct":0},"EURKRW":{"start_rate":1336.137524,"end_rate":1336.137524,"change":0,"change_pct":0},"EURKWD":{"start_rate":0.339125,"end_rate":0.339125,"change":0,"change_pct":0},"EURKYD":{"start_rate":0.920592,"end_rate":0.920592,"change":0,"change_pct":0},"EURKZT":{"start_rate":377.216035,"end_rate":377.216035,"change":0,"change_pct":0},"EURLAK":{"start_rate":9094.964349,"end_rate":9094.964349,"change":0,"change_pct":0},"EURLBP":{"start_rate":1690.6863,"end_rate":1690.6863,"change":0,"change_pct":0},"EURLKR":{"start_rate":164.748355,"end_rate":164.748355,"change":0,"change_pct":0},"EURLRD":{"start_rate":95.012381,"end_rate":95.012381,"change":0,"change_pct":0},"EURLSL":{"start_rate":17.735514,"end_rate":17.735514,"change":0,"change_pct":0},"EURLTL":{"start_rate":3.421101,"end_rate":3.421101,"change":0,"change_pct":0},"EURLVL":{"start_rate":0.69635,"end_rate":0.69635,"change":0,"change_pct":0},"EURLYD":{"start_rate":1.542511,"end_rate":1.542511,"change":0,"change_pct":0},"EURMAD":{"start_rate":10.907909,"end_rate":10.907909,"change":0,"change_pct":0},"EURMDL":{"start_rate":22.322861,"end_rate":22.322861,"change":0,"change_pct":0},"EURMGA":{"start_rate":3617.753245,"end_rate":3617.753245,"change":0,"change_pct":0},"EURMKD":{"start_rate":61.567285,"end_rate":61.567285,"change":0,"change_pct":0},"EURMMK":{"start_rate":1318.188751,"end_rate":1318.188751,"change":0,"change_pct":0},"EURMNT":{"start_rate":2240.93258,"end_rate":2240.93258,"change":0,"change_pct":0},"EURMOP":{"start_rate":8.979271,"end_rate":8.979271,"change":0,"change_pct":0},"EURMRO":{"start_rate":399.631043,"end_rate":399.631043,"change":0,"change_pct":0},"EURMUR":{"start_rate":39.652267,"end_rate":39.652267,"change":0,"change_pct":0},"EURMVR":{"start_rate":17.259081,"end_rate":17.259081,"change":0,"change_pct":0},"EURMWK":{"start_rate":793.028554,"end_rate":793.028554,"change":0,"change_pct":0},"EURMXN":{"start_rate":20.592451,"end_rate":20.592451,"change":0,"change_pct":0},"EURMYR":{"start_rate":4.575046,"end_rate":4.575046,"change":0,"change_pct":0},"EURMZN":{"start_rate":62.009969,"end_rate":62.009969,"change":0,"change_pct":0},"EURNAD":{"start_rate":17.729904,"end_rate":17.729904,"change":0,"change_pct":0},"EURNGN":{"start_rate":223.577036,"end_rate":223.577036,"change":0,"change_pct":0},"EURNIO":{"start_rate":31.934354,"end_rate":31.934354,"change":0,"change_pct":0},"EURNOK":{"start_rate":9.345937,"end_rate":9.345937,"change":0,"change_pct":0},"EURNPR":{"start_rate":121.147239,"end_rate":121.147239,"change":0,"change_pct":0},"EURNZD":{"start_rate":1.659616,"end_rate":1.659616,"change":0,"change_pct":0},"EUROMR":{"start_rate":0.431983,"end_rate":0.431983,"change":0,"change_pct":0},"EURPAB":{"start_rate":1.122233,"end_rate":1.122233,"change":0,"change_pct":0},"EURPEN":{"start_rate":3.739118,"end_rate":3.739118,"change":0,"change_pct":0},"EURPGK":{"start_rate":3.553118,"end_rate":3.553118,"change":0,"change_pct":0},"EURPHP":{"start_rate":52.507054,"end_rate":52.507054,"change":0,"change_pct":0},"EURPKR":{"start_rate":117.550749,"end_rate":117.550749,"change":0,"change_pct":0},"EURPLN":{"start_rate":4.418131,"end_rate":4.418131,"change":0,"change_pct":0},"EURPYG":{"start_rate":6312.090308,"end_rate":6312.090308,"change":0,"change_pct":0},"EURQAR":{"start_rate":4.085466,"end_rate":4.085466,"change":0,"change_pct":0},"EURRON":{"start_rate":4.506444,"end_rate":4.506444,"change":0,"change_pct":0},"EURRSD":{"start_rate":122.572374,"end_rate":122.572374,"change":0,"change_pct":0},"EURRUB":{"start_rate":74.95064,"end_rate":74.95064,"change":0,"change_pct":0},"EURRWF":{"start_rate":872.016593,"end_rate":872.016593,"change":0,"change_pct":0},"EURSAR":{"start_rate":4.212104,"end_rate":4.212104,"change":0,"change_pct":0},"EURSBD":{"start_rate":8.752036,"end_rate":8.752036,"change":0,"change_pct":0},"EURSCR":{"start_rate":14.851591,"end_rate":14.851591,"change":0,"change_pct":0},"EURSDG":{"start_rate":6.827946,"end_rate":6.827946,"change":0,"change_pct":0},"EURSEK":{"start_rate":9.32847,"end_rate":9.32847,"change":0,"change_pct":0},"EURSGD":{"start_rate":1.550306,"end_rate":1.550306,"change":0,"change_pct":0},"EURSHP":{"start_rate":0.778664,"end_rate":0.778664,"change":0,"change_pct":0},"EURSLL":{"start_rate":4422.676487,"end_rate":4422.676487,"change":0,"change_pct":0},"EURSOS":{"start_rate":667.28612,"end_rate":667.28612,"change":0,"change_pct":0},"EURSRD":{"start_rate":7.389396,"end_rate":7.389396,"change":0,"change_pct":0},"EURSTD":{"start_rate":24518.401566,"end_rate":24518.401566,"change":0,"change_pct":0},"EURSVC":{"start_rate":9.819821,"end_rate":9.819821,"change":0,"change_pct":0},"EURSYP":{"start_rate":246.712377,"end_rate":246.712377,"change":0,"change_pct":0},"EURSZL":{"start_rate":17.584495,"end_rate":17.584495,"change":0,"change_pct":0},"EURTHB":{"start_rate":40.051195,"end_rate":40.051195,"change":0,"change_pct":0},"EURTJS":{"start_rate":8.829973,"end_rate":8.829973,"change":0,"change_pct":0},"EURTMT":{"start_rate":3.927467,"end_rate":3.927467,"change":0,"change_pct":0},"EURTND":{"start_rate":2.334688,"end_rate":2.334688,"change":0,"change_pct":0},"EURTOP":{"start_rate":2.497701,"end_rate":2.497701,"change":0,"change_pct":0},"EURTRY":{"start_rate":3.342827,"end_rate":3.342827,"change":0,"change_pct":0},"EURTTD":{"start_rate":7.474679,"end_rate":7.474679,"change":0,"change_pct":0},"EURTWD":{"start_rate":36.743656,"end_rate":36.743656,"change":0,"change_pct":0},"EURTZS":{"start_rate":2459.022022,"end_rate":2459.022022,"change":0,"change_pct":0},"EURUAH":{"start_rate":28.231536,"end_rate":28.231536,"change":0,"change_pct":0},"EURUGX":{"start_rate":3782.485232,"end_rate":3782.485232,"change":0,"change_pct":0},"EURUSD":{"start_rate":1.122149,"end_rate":1.122149,"change":0,"change_pct":0},"EURUYU":{"start_rate":35.339292,"end_rate":35.339292,"change":0,"change_pct":0},"EURUZS":{"start_rate":3270.055443,"end_rate":3270.055443,"change":0,"change_pct":0},"EURVEF":{"start_rate":11.165797,"end_rate":11.165797,"change":0,"change_pct":0},"EURVND":{"start_rate":25051.983567,"end_rate":25051.983567,"change":0,"change_pct":0},"EURVUV":{"start_rate":125.635837,"end_rate":125.635837,"change":0,"change_pct":0},"EURWST":{"start_rate":2.908687,"end_rate":2.908687,"change":0,"change_pct":0},"EURXAF":{"start_rate":655.839704,"end_rate":655.839704,"change":0,"change_pct":0},"EURXAG":{"start_rate":0.067845,"end_rate":0.067845,"change":0,"change_pct":0},"EURXAU":{"start_rate":0.000897,"end_rate":0.000897,"change":0,"change_pct":0},"EURXCD":{"start_rate":3.03385,"end_rate":3.03385,"change":0,"change_pct":0},"EURXDR":{"start_rate":0.798354,"end_rate":0.798354,"change":0,"change_pct":0},"EURXOF":{"start_rate":655.839704,"end_rate":655.839704,"change":0,"change_pct":0},"EURXPF":{"start_rate":119.310391,"end_rate":119.310391,"change":0,"change_pct":0},"EURYER":{"start_rate":279.527402,"end_rate":279.527402,"change":0,"change_pct":0},"EURZAR":{"start_rate":17.537964,"end_rate":17.537964,"change":0,"change_pct":0},"EURZMK":{"start_rate":5785.91814,"end_rate":5785.91814,"change":0,"change_pct":0},"EURZMW":{"start_rate":11.458772,"end_rate":11.458772,"change":0,"change_pct":0},"EURZWL":{"start_rate":361.730456,"end_rate":361.730456,"change":0,"change_pct":0}}}'
  recorded_at: Sun, 22 May 2016 07:00:48 GMT
recorded_with: VCR 3.0.1
