---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/change?access_key=currency_layer_key123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - a67d09ee252e48e4eccc33aa11f2b277
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","change":true,"start_date":"2016-05-21","end_date":"2016-05-22","source":"USD","quotes":{"USDAED":{"start_rate":3.67295,"end_rate":3.67295,"change":0,"change_pct":0},"USDAFN":{"start_rate":68.709999,"end_rate":68.709999,"change":0,"change_pct":0},"USDALL":{"start_rate":123.049504,"end_rate":123.049504,"change":0,"change_pct":0},"USDAMD":{"start_rate":478.369995,"end_rate":478.369995,"change":0,"change_pct":0},"USDANG":{"start_rate":1.790403,"end_rate":1.790403,"change":0,"change_pct":0},"USDAOA":{"start_rate":165.731003,"end_rate":165.731003,"change":0,"change_pct":0},"USDARS":{"start_rate":14.09495,"end_rate":14.09495,"change":0,"change_pct":0},"USDAUD":{"start_rate":1.385522,"end_rate":1.385522,"change":0,"change_pct":0},"USDAWG":{"start_rate":1.79,"end_rate":1.79,"change":0,"change_pct":0},"USDAZN":{"start_rate":1.497204,"end_rate":1.497204,"change":0,"change_pct":0},"USDBAM":{"start_rate":1.74265,"end_rate":1.74265,"change":0,"change_pct":0},"USDBBD":{"start_rate":2,"end_rate":2,"change":0,"change_pct":0},"USDBDT":{"start_rate":78.654953,"end_rate":78.654953,"change":0,"change_pct":0},"USDBGN":{"start_rate":1.74425,"end_rate":1.74425,"change":0,"change_pct":0},"USDBHD":{"start_rate":0.37685,"end_rate":0.37685,"change":0,"change_pct":0},"USDBIF":{"start_rate":1560.949951,"end_rate":1560.949951,"change":0,"change_pct":0},"USDBMD":{"start_rate":0.99995,"end_rate":0.99995,"change":0,"change_pct":0},"USDBND":{"start_rate":1.38245,"end_rate":1.38245,"change":0,"change_pct":0},"USDBOB":{"start_rate":6.885041,"end_rate":6.885041,"change":0,"change_pct":0},"USDBRL":{"start_rate":3.57265,"end_rate":3.57265,"change":0,"change_pct":0},"USDBSD":{"start_rate":1.000095,"end_rate":1.000095,"change":0,"change_pct":0},"USDBTC":{"start_rate":0.002257,"end_rate":0.002272,"change":0,"change_pct":0.6646},"USDBTN":{"start_rate":67.474998,"end_rate":67.474998,"change":0,"change_pct":0},"USDBWP":{"start_rate":11.25045,"end_rate":11.25045,"change":0,"change_pct":0},"USDBYR":{"start_rate":19595,"end_rate":19595,"change":0,"change_pct":0},"USDBZD":{"start_rate":1.995041,"end_rate":1.995041,"change":0,"change_pct":0},"USDCAD":{"start_rate":1.31115,"end_rate":1.31115,"change":0,"change_pct":0},"USDCDF":{"start_rate":924.000362,"end_rate":924.000362,"change":0,"change_pct":0},"USDCHF":{"start_rate":0.990235,"end_rate":0.990235,"change":0,"change_pct":0},"USDCLF":{"start_rate":0.024604,"end_rate":0.024604,"change":0,"change_pct":0},"USDCLP":{"start_rate":692.794983,"end_rate":692.794983,"change":0,"change_pct":0},"USDCNY":{"start_rate":6.54595,"end_rate":6.54595,"change":0,"change_pct":0},"USDCOP":{"start_rate":3051.97998,"end_rate":3051.97998,"change":0,"change_pct":0},"USDCRC":{"start_rate":536.090027,"end_rate":536.090027,"change":0,"change_pct":0},"USDCUC":{"start_rate":1,"end_rate":1,"change":0,"change_pct":0},"USDCUP":{"start_rate":1.00036,"end_rate":1.00036,"change":0,"change_pct":0},"USDCVE":{"start_rate":98.351997,"end_rate":98.351997,"change":0,"change_pct":0},"USDCZK":{"start_rate":24.082001,"end_rate":24.082001,"change":0,"change_pct":0},"USDDJF":{"start_rate":177.770004,"end_rate":177.770004,"change":0,"change_pct":0},"USDDKK":{"start_rate":6.62865,"end_rate":6.62865,"change":0,"change_pct":0},"USDDOP":{"start_rate":45.840393,"end_rate":45.840393,"change":0,"change_pct":0},"USDDZD":{"start_rate":110.19504,"end_rate":110.19504,"change":0,"change_pct":0},"USDEEK":{"start_rate":13.94904,"end_rate":13.94204,"change":-0.007,"change_pct":-0.0502},"USDEGP":{"start_rate":8.87985,"end_rate":8.87985,"change":0,"change_pct":0},"USDERN":{"start_rate":16.180392,"end_rate":16.180392,"change":0,"change_pct":0},"USDETB":{"start_rate":21.680392,"end_rate":21.680392,"change":0,"change_pct":0},"USDEUR":{"start_rate":0.891147,"end_rate":0.891147,"change":0,"change_pct":0},"USDFJD":{"start_rate":2.12675,"end_rate":2.12675,"change":0,"change_pct":0},"USDFKP":{"start_rate":0.659804,"end_rate":0.659804,"change":0,"change_pct":0},"USDGBP":{"start_rate":0.689227,"end_rate":0.689227,"change":0,"change_pct":0},"USDGEL":{"start_rate":2.14504,"end_rate":2.14504,"change":0,"change_pct":0},"USDGGP":{"start_rate":0.689299,"end_rate":0.689299,"change":0,"change_pct":0},"USDGHS":{"start_rate":3.85504,"end_rate":3.85504,"change":0,"change_pct":0},"USDGIP":{"start_rate":0.693904,"end_rate":0.693904,"change":0,"change_pct":0},"USDGMD":{"start_rate":42.80504,"end_rate":42.80504,"change":0,"change_pct":0},"USDGNF":{"start_rate":7345.049805,"end_rate":7345.049805,"change":0,"change_pct":0},"USDGTQ":{"start_rate":7.63315,"end_rate":7.63315,"change":0,"change_pct":0},"USDGYD":{"start_rate":206.259949,"end_rate":206.259949,"change":0,"change_pct":0},"USDHKD":{"start_rate":7.768504,"end_rate":7.768504,"change":0,"change_pct":0},"USDHNL":{"start_rate":22.57995,"end_rate":22.57995,"change":0,"change_pct":0},"USDHRK":{"start_rate":6.65975,"end_rate":6.65975,"change":0,"change_pct":0},"USDHTG":{"start_rate":62.539452,"end_rate":62.539452,"change":0,"change_pct":0},"USDHUF":{"start_rate":280.690002,"end_rate":280.690002,"change":0,"change_pct":0},"USDIDR":{"start_rate":13642.5,"end_rate":13642.5,"change":0,"change_pct":0},"USDILS":{"start_rate":3.886404,"end_rate":3.886404,"change":0,"change_pct":0},"USDIMP":{"start_rate":0.689299,"end_rate":0.689299,"change":0,"change_pct":0},"USDINR":{"start_rate":67.42495,"end_rate":67.42495,"change":0,"change_pct":0},"USDIQD":{"start_rate":1166.149902,"end_rate":1166.149902,"change":0,"change_pct":0},"USDIRR":{"start_rate":30372.000352,"end_rate":30372.000352,"change":0,"change_pct":0},"USDISK":{"start_rate":124.464996,"end_rate":124.464996,"change":0,"change_pct":0},"USDJEP":{"start_rate":0.689299,"end_rate":0.689299,"change":0,"change_pct":0},"USDJMD":{"start_rate":124.519951,"end_rate":124.519951,"change":0,"change_pct":0},"USDJOD":{"start_rate":0.70845,"end_rate":0.70845,"change":0,"change_pct":0},"USDJPY":{"start_rate":110.139999,"end_rate":110.139999,"change":0,"change_pct":0},"USDKES":{"start_rate":100.849503,"end_rate":100.849503,"change":0,"change_pct":0},"USDKGS":{"start_rate":68.241402,"end_rate":68.241402,"change":0,"change_pct":0},"USDKHR":{"start_rate":4059.949951,"end_rate":4059.949951,"change":0,"change_pct":0},"USDKMF":{"start_rate":439.574951,"end_rate":439.574951,"change":0,"change_pct":0},"USDKPW":{"start_rate":900.00035,"end_rate":900.00035,"change":0,"change_pct":0},"USDKRW":{"start_rate":1190.694946,"end_rate":1190.694946,"change":0,"change_pct":0},"USDKWD":{"start_rate":0.30221,"end_rate":0.30221,"change":0,"change_pct":0},"USDKYD":{"start_rate":0.820383,"end_rate":0.820383,"change":0,"change_pct":0},"USDKZT":{"start_rate":336.154938,"end_rate":336.154938,"change":0,"change_pct":0},"USDLAK":{"start_rate":8104.950195,"end_rate":8104.950195,"change":0,"change_pct":0},"USDLBP":{"start_rate":1506.650024,"end_rate":1506.650024,"change":0,"change_pct":0},"USDLKR":{"start_rate":146.815002,"end_rate":146.815002,"change":0,"change_pct":0},"USDLRD":{"start_rate":84.669998,"end_rate":84.669998,"change":0,"change_pct":0},"USDLSL":{"start_rate":15.80495,"end_rate":15.80495,"change":0,"change_pct":0},"USDLTL":{"start_rate":3.048704,"end_rate":3.048704,"change":0,"change_pct":0},"USDLVL":{"start_rate":0.62055,"end_rate":0.62055,"change":0,"change_pct":0},"USDLYD":{"start_rate":1.374604,"end_rate":1.374604,"change":0,"change_pct":0},"USDMAD":{"start_rate":9.72055,"end_rate":9.72055,"change":0,"change_pct":0},"USDMDL":{"start_rate":19.89295,"end_rate":19.89295,"change":0,"change_pct":0},"USDMGA":{"start_rate":3223.949951,"end_rate":3223.949951,"change":0,"change_pct":0},"USDMKD":{"start_rate":54.865501,"end_rate":54.865501,"change":0,"change_pct":0},"USDMMK":{"start_rate":1174.699951,"end_rate":1174.699951,"change":0,"change_pct":0},"USDMNT":{"start_rate":1997.000346,"end_rate":1997.000346,"change":0,"change_pct":0},"USDMOP":{"start_rate":8.00185,"end_rate":8.00185,"change":0,"change_pct":0},"USDMRO":{"start_rate":356.130005,"end_rate":356.130005,"change":0,"change_pct":0},"USDMUR":{"start_rate":35.335999,"end_rate":35.335999,"change":0,"change_pct":0},"USDMVR":{"start_rate":15.380378,"end_rate":15.380378,"change":0,"change_pct":0},"USDMWK":{"start_rate":706.705017,"end_rate":706.705017,"change":0,"change_pct":0},"USDMXN":{"start_rate":18.350901,"end_rate":18.350901,"change":0,"change_pct":0},"USDMYR":{"start_rate":4.077039,"end_rate":4.077039,"change":0,"change_pct":0},"USDMZN":{"start_rate":55.259998,"end_rate":55.259998,"change":0,"change_pct":0},"USDNAD":{"start_rate":15.79995,"end_rate":15.79995,"change":0,"change_pct":0},"USDNGN":{"start_rate":199.240005,"end_rate":199.240005,"change":0,"change_pct":0},"USDNIO":{"start_rate":28.458204,"end_rate":28.458204,"change":0,"change_pct":0},"USDNOK":{"start_rate":8.328604,"end_rate":8.328604,"change":0,"change_pct":0},"USDNPR":{"start_rate":107.959999,"end_rate":107.959999,"change":0,"change_pct":0},"USDNZD":{"start_rate":1.478962,"end_rate":1.478962,"change":0,"change_pct":0},"USDOMR":{"start_rate":0.38496,"end_rate":0.38496,"change":0,"change_pct":0},"USDPAB":{"start_rate":1.000075,"end_rate":1.000075,"change":0,"change_pct":0},"USDPEN":{"start_rate":3.332104,"end_rate":3.332104,"change":0,"change_pct":0},"USDPGK":{"start_rate":3.16635,"end_rate":3.16635,"change":0,"change_pct":0},"USDPHP":{"start_rate":46.791504,"end_rate":46.791504,"change":0,"change_pct":0},"USDPKR":{"start_rate":104.754997,"end_rate":104.754997,"change":0,"change_pct":0},"USDPLN":{"start_rate":3.937204,"end_rate":3.937204,"change":0,"change_pct":0},"USDPYG":{"start_rate":5625.000341,"end_rate":5625.000341,"change":0,"change_pct":0},"USDQAR":{"start_rate":3.64075,"end_rate":3.64075,"change":0,"change_pct":0},"USDRON":{"start_rate":4.015904,"end_rate":4.015904,"change":0,"change_pct":0},"USDRSD":{"start_rate":109.230003,"end_rate":109.230003,"change":0,"change_pct":0},"USDRUB":{"start_rate":66.792038,"end_rate":66.792038,"change":0,"change_pct":0},"USDRWF":{"start_rate":777.094971,"end_rate":777.094971,"change":0,"change_pct":0},"USDSAR":{"start_rate":3.753604,"end_rate":3.753604,"change":0,"change_pct":0},"USDSBD":{"start_rate":7.79935,"end_rate":7.79935,"change":0,"change_pct":0},"USDSCR":{"start_rate":13.23495,"end_rate":13.23495,"change":0,"change_pct":0},"USDSDG":{"start_rate":6.084704,"end_rate":6.084704,"change":0,"change_pct":0},"USDSEK":{"start_rate":8.313038,"end_rate":8.313038,"change":0,"change_pct":0},"USDSGD":{"start_rate":1.38155,"end_rate":1.38155,"change":0,"change_pct":0},"USDSHP":{"start_rate":0.693904,"end_rate":0.693904,"change":0,"change_pct":0},"USDSLL":{"start_rate":3941.254883,"end_rate":3941.254883,"change":0,"change_pct":0},"USDSOS":{"start_rate":594.650024,"end_rate":594.650024,"change":0,"change_pct":0},"USDSRD":{"start_rate":6.585038,"end_rate":6.585038,"change":0,"change_pct":0},"USDSTD":{"start_rate":21849.5,"end_rate":21849.5,"change":0,"change_pct":0},"USDSVC":{"start_rate":8.750904,"end_rate":8.750904,"change":0,"change_pct":0},"USDSYP":{"start_rate":219.856995,"end_rate":219.856995,"change":0,"change_pct":0},"USDSZL":{"start_rate":15.67037,"end_rate":15.67037,"change":0,"change_pct":0},"USDTHB":{"start_rate":35.691502,"end_rate":35.691502,"change":0,"change_pct":0},"USDTJS":{"start_rate":7.868804,"end_rate":7.868804,"change":0,"change_pct":0},"USDTMT":{"start_rate":3.49995,"end_rate":3.49995,"change":0,"change_pct":0},"USDTND":{"start_rate":2.08055,"end_rate":2.08055,"change":0,"change_pct":0},"USDTOP":{"start_rate":2.225819,"end_rate":2.225819,"change":0,"change_pct":0},"USDTRY":{"start_rate":2.97895,"end_rate":2.97895,"change":0,"change_pct":0},"USDTTD":{"start_rate":6.661038,"end_rate":6.661038,"change":0,"change_pct":0},"USDTWD":{"start_rate":32.743999,"end_rate":32.743999,"change":0,"change_pct":0},"USDTZS":{"start_rate":2191.350098,"end_rate":2191.350098,"change":0,"change_pct":0},"USDUAH":{"start_rate":25.158449,"end_rate":25.158449,"change":0,"change_pct":0},"USDUGX":{"start_rate":3370.750367,"end_rate":3370.750367,"change":0,"change_pct":0},"USDUSD":{"start_rate":1,"end_rate":1,"change":0,"change_pct":0},"USDUYU":{"start_rate":31.492504,"end_rate":31.492504,"change":0,"change_pct":0},"USDUZS":{"start_rate":2914.100098,"end_rate":2914.100098,"change":0,"change_pct":0},"USDVEF":{"start_rate":9.950366,"end_rate":9.950366,"change":0,"change_pct":0},"USDVND":{"start_rate":22325,"end_rate":22325,"change":0,"change_pct":0},"USDVUV":{"start_rate":111.959999,"end_rate":111.959999,"change":0,"change_pct":0},"USDWST":{"start_rate":2.592068,"end_rate":2.592068,"change":0,"change_pct":0},"USDXAF":{"start_rate":584.449585,"end_rate":584.449585,"change":0,"change_pct":0},"USDXAG":{"start_rate":0.060459,"end_rate":0.060459,"change":0,"change_pct":0},"USDXAU":{"start_rate":0.000799,"end_rate":0.000799,"change":0,"change_pct":0},"USDXCD":{"start_rate":2.703606,"end_rate":2.703606,"change":0,"change_pct":0},"USDXDR":{"start_rate":0.71145,"end_rate":0.71145,"change":0,"change_pct":0},"USDXOF":{"start_rate":584.449585,"end_rate":584.449585,"change":0,"change_pct":0},"USDXPF":{"start_rate":106.323097,"end_rate":106.323097,"change":0,"change_pct":0},"USDYER":{"start_rate":249.100006,"end_rate":249.100006,"change":0,"change_pct":0},"USDZAR":{"start_rate":15.628904,"end_rate":15.628904,"change":0,"change_pct":0},"USDZMK":{"start_rate":5156.103593,"end_rate":5156.103593,"change":0,"change_pct":0},"USDZMW":{"start_rate":10.21145,"end_rate":10.21145,"change":0,"change_pct":0},"USDZWL":{"start_rate":322.355011,"end_rate":322.355011,"change":0,"change_pct":0}}}'
  recorded_at: Sun, 22 May 2016 16:58:52 GMT
recorded_with: VCR 3.0.1
