---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/change?access_key=currency_layer_key123&currencies=CHF,GBP&end_date=2016-03-01&start_date=2016-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - bac042577546c073e3522eb9e7db34fb
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","change":true,"start_date":"2016-01-01","end_date":"2016-03-01","source":"USD","quotes":{"USDCHF":{"start_rate":1.00105,"end_rate":0.99685,"change":-0.0042,"change_pct":-0.4196},"USDGBP":{"start_rate":0.676805,"end_rate":0.716273,"change":0.0395,"change_pct":5.8315}}}'
  recorded_at: Sun, 22 May 2016 07:29:34 GMT
recorded_with: VCR 3.0.1
