---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/convert?access_key=currency_layer_key123&amount=10&from=EUR&to=CHF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 70389b285d90e527ebc727b3394905fd
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","query":{"from":"EUR","to":"CHF","amount":10},"info":{"timestamp":1463860873,"quote":1.111192},"result":11.11192}'
  recorded_at: Sat, 21 May 2016 20:00:46 GMT
recorded_with: VCR 3.0.1
