---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/convert?access_key=currency_layer_key123&amount=10&date=2016-01-01&from=EUR&to=CHF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - f77f1513c456472cfbf2772343b510ee
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","query":{"from":"EUR","to":"CHF","amount":10},"info":{"timestamp":1451692799,"quote":1.087169},"historical":true,"date":"2016-01-01","result":10.87169}'
  recorded_at: Sat, 21 May 2016 20:00:06 GMT
recorded_with: VCR 3.0.1
