---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/historical?access_key=currency_layer_key123&currencies=EUR,GBP,CHF&date=2016-05-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 06 May 2016 23:59:59 GMT
      Etag:
      - d16ef6f1bb42f7c91622d68006a25f2b
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","historical":true,"date":"2016-05-06","timestamp":1462579199,"source":"USD","quotes":{"USDEUR":0.876847,"USDGBP":0.692977,"USDCHF":0.972535}}'
  recorded_at: Mon, 09 May 2016 13:45:15 GMT
recorded_with: VCR 3.0.1
