---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/historical?access_key=currency_layer_key123&date=2016-05-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 06 May 2016 23:59:59 GMT
      Etag:
      - a6b67f275a8ef3878aeb313b68364791
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","historical":true,"date":"2016-05-06","timestamp":1462579199,"source":"USD","quotes":{"USDAED":3.67295,"USDAFN":68.529999,"USDALL":120.959503,"USDAMD":478.609985,"USDANG":1.790403,"USDAOA":165.731003,"USDARS":14.22395,"USDAUD":1.357478,"USDAWG":1.79,"USDAZN":1.507504,"USDBAM":1.71505,"USDBBD":2,"USDBDT":78.38195,"USDBGN":1.713604,"USDBHD":0.37675,"USDBIF":1572.709961,"USDBMD":0.99995,"USDBND":1.358304,"USDBOB":6.905041,"USDBRL":3.50405,"USDBSD":0.99983,"USDBTC":0.002172,"USDBTN":66.584999,"USDBWP":10.56395,"USDBYR":19445,"USDBZD":1.995041,"USDCAD":1.29085,"USDCDF":924.000362,"USDCHF":0.972535,"USDCLF":0.024604,"USDCLP":668.695007,"USDCNY":6.498304,"USDCOP":2956.719971,"USDCRC":535.929993,"USDCUC":1,"USDCUP":1.00036,"USDCVE":96.399498,"USDCZK":23.697504,"USDDJF":177.154999,"USDDKK":6.52345,"USDDOP":45.814999,"USDDZD":109.294998,"USDEEK":13.70104,"USDEGP":8.87845,"USDERN":16.180392,"USDETB":21.545504,"USDEUR":0.876847,"USDFJD":2.09205,"USDFKP":0.659804,"USDGBP":0.692977,"USDGEL":2.20504,"USDGGP":0.693127,"USDGHS":3.803858,"USDGIP":0.69104,"USDGMD":42.869999,"USDGNF":7526.399902,"USDGTQ":7.71195,"USDGYD":207.649948,"USDHKD":7.760904,"USDHNL":22.50495,"USDHRK":6.57735,"USDHTG":62.53495,"USDHUF":275.695007,"USDIDR":13362.5,"USDILS":3.78825,"USDIMP":0.693127,"USDINR":66.597954,"USDIQD":1107.099976,"USDIRR":30327.000352,"USDISK":122.610001,"USDJEP":0.693127,"USDJMD":122.53495,"USDJOD":0.70805,"USDJPY":107.105003,"USDKES":100.385498,"USDKGS":68.259102,"USDKHR":4059.949951,"USDKMF":431.049957,"USDKPW":900.00035,"USDKRW":1169.594971,"USDKWD":0.30027,"USDKYD":0.820383,"USDKZT":326.10495,"USDLAK":8109.950195,"USDLBP":1510.449951,"USDLKR":145.850006,"USDLRD":84.669998,"USDLSL":14.94495,"USDLTL":3.048704,"USDLVL":0.62055,"USDLYD":1.35605,"USDMAD":9.60615,"USDMDL":19.676451,"USDMGA":3139.949951,"USDMKD":54.025501,"USDMMK":1165.149902,"USDMNT":2017.000346,"USDMOP":7.994039,"USDMRO":344.994995,"USDMUR":35.079498,"USDMVR":15.370378,"USDMWK":687.39502,"USDMXN":17.868204,"USDMYR":3.999504,"USDMZN":54.060001,"USDNAD":14.92495,"USDNGN":199.095001,"USDNIO":28.405104,"USDNOK":8.20685,"USDNPR":106.536003,"USDNZD":1.462138,"USDOMR":0.38497,"USDPAB":0.99985,"USDPEN":3.30985,"USDPGK":3.15135,"USDPHP":47.095501,"USDPKR":104.705002,"USDPLN":3.888204,"USDPYG":5607.000341,"USDQAR":3.64055,"USDRON":3.94285,"USDRSD":107.830002,"USDRUB":65.918503,"USDRWF":746.494995,"USDSAR":3.75035,"USDSBD":7.79935,"USDSCR":13.31045,"USDSDG":6.099104,"USDSEK":8.14005,"USDSGD":1.361304,"USDSHP":0.701604,"USDSLL":3947.000339,"USDSOS":605.849976,"USDSRD":5.551038,"USDSTD":21440.5,"USDSVC":8.74815,"USDSYP":219.856995,"USDSZL":14.95037,"USDTHB":35.117504,"USDTJS":7.869404,"USDTMT":3.50495,"USDTND":2.01515,"USDTOP":2.197418,"USDTRY":2.92755,"USDTTD":6.627904,"USDTWD":32.432999,"USDTZS":2189.600098,"USDUAH":25.17445,"USDUGX":3329.349854,"USDUSD":1,"USDUYU":31.796499,"USDUZS":2893.919922,"USDVEF":9.950366,"USDVND":22281,"USDVUV":108.349998,"USDWST":2.552994,"USDXAF":575.199097,"USDXAG":0.057208,"USDXAU":0.000776,"USDXCD":2.703606,"USDXDR":0.70645,"USDXOF":575.199097,"USDXPF":104.640198,"USDYER":249.850006,"USDZAR":14.863104,"USDZMK":5156.103593,"USDZMW":9.833037,"USDZWL":322.355011}}'
  recorded_at: Mon, 09 May 2016 13:44:09 GMT
recorded_with: VCR 3.0.1
