---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/historical?access_key=currency_layer_key123&date=2016-05-06&source=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 06 May 2016 23:59:59 GMT
      Etag:
      - 1b42026fd2e925afb9f366ab12c583c4
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","historical":true,"date":"2016-05-06","timestamp":1462579199,"source":"EUR","quotes":{"EURAED":4.188816,"EURAFN":78.155025,"EURALL":137.948243,"EURAMD":545.830669,"EURANG":2.041865,"EURAOA":189.007892,"EURARS":16.221702,"EURAUD":1.548136,"EURAWG":2.041405,"EURAZN":1.719233,"EURBAM":1.955929,"EURBBD":2.2809,"EURBDT":89.390681,"EURBGN":1.95428,"EURBHD":0.429665,"EURBIF":1793.596786,"EURBMD":1.140393,"EURBND":1.549078,"EURBOB":7.874853,"EURBRL":3.996194,"EURBSD":1.140256,"EURBTC":0.002478,"EURBTN":75.93685,"EURBWP":12.047655,"EURBYR":22176.046676,"EURBZD":2.275244,"EURCAD":1.47215,"EURCDF":1053.776043,"EURCHF":1.109127,"EURCLF":0.02806,"EURCLP":762.613098,"EURCNY":7.41099,"EURCOP":3371.990748,"EURCRC":611.201262,"EURCUC":1.14045,"EURCUP":1.140861,"EURCVE":109.93879,"EURCZK":27.025814,"EURDJF":202.036386,"EURDKK":7.439668,"EURDOP":52.249707,"EURDZD":124.64546,"EUREEK":15.625349,"EUREGP":10.125427,"EURERN":18.452925,"EURETB":24.571566,"EUREUR":1,"EURFJD":2.385879,"EURFKP":0.752473,"EURGBP":0.790305,"EURGEL":2.514738,"EURGGP":0.790476,"EURGHS":4.33811,"EURGIP":0.788097,"EURGMD":48.891082,"EURGNF":8583.481385,"EURGTQ":8.795092,"EURGYD":236.814345,"EURHKD":8.850922,"EURHNL":25.665767,"EURHRK":7.501138,"EURHTG":71.317973,"EURHUF":314.41632,"EURIDR":15239.260669,"EURILS":4.320309,"EURIMP":0.790476,"EURINR":75.951624,"EURIQD":1262.591964,"EURIRR":34586.421978,"EURISK":139.830553,"EURJEP":0.790476,"EURJMD":139.744962,"EURJOD":0.807496,"EURJPY":122.147881,"EURKES":114.484623,"EURKGS":77.84608,"EURKHR":4630.169175,"EURKMF":491.590844,"EURKPW":1026.405234,"EURKRW":1333.86437,"EURKWD":0.342443,"EURKYD":0.935606,"EURKZT":371.906331,"EURLAK":9248.991209,"EURLBP":1722.592369,"EURLKR":166.334613,"EURLRD":96.561884,"EURLSL":17.043966,"EURLTL":3.476894,"EURLVL":0.707707,"EURLYD":1.546507,"EURMAD":10.955332,"EURMDL":22.440005,"EURMGA":3580.955345,"EURMKD":61.613373,"EURMMK":1328.794992,"EURMNT":2300.287674,"EURMOP":9.1168,"EURMRO":393.449479,"EURMUR":40.006407,"EURMVR":17.529145,"EURMWK":783.939525,"EURMXN":20.37779,"EURMYR":4.561234,"EURMZN":61.652718,"EURNAD":17.021157,"EURNGN":227.057857,"EURNIO":32.394596,"EURNOK":9.359501,"EURNPR":121.498965,"EURNZD":1.667495,"EUROMR":0.439039,"EURPAB":1.140279,"EURPEN":3.774718,"EURPGK":3.593957,"EURPHP":53.710055,"EURPKR":119.4108,"EURPLN":4.434301,"EURPYG":6394.502509,"EURQAR":4.151865,"EURRON":4.496623,"EURRSD":122.974706,"EURRUB":75.176745,"EURRWF":851.34008,"EURSAR":4.277086,"EURSBD":8.894768,"EURSCR":15.179901,"EURSDG":6.955722,"EURSEK":9.283319,"EURSGD":1.552499,"EURSHP":0.800144,"EURSLL":4501.355811,"EURSOS":690.941494,"EURSRD":6.33068,"EURSTD":24451.814285,"EURSVC":9.976827,"EURSYP":250.73587,"EURSZL":17.050146,"EURTHB":40.049751,"EURTJS":8.97466,"EURTMT":3.99722,"EURTND":2.298178,"EURTOP":2.506045,"EURTRY":3.338724,"EURTTD":7.558792,"EURTWD":36.988208,"EURTZS":2497.129029,"EURUAH":28.710197,"EURUGX":3796.956429,"EURUSD":1.14045,"EURUYU":36.262311,"EURUZS":3300.370443,"EURVEF":11.347893,"EURVND":25410.362355,"EURVUV":123.567735,"EURWST":2.911562,"EURXAF":655.985704,"EURXAG":0.065243,"EURXAU":0.000885,"EURXCD":3.083327,"EURXDR":0.805671,"EURXOF":655.985704,"EURXPF":119.336895,"EURYER":284.941393,"EURZAR":16.950624,"EURZMK":5880.277395,"EURZMW":11.214086,"EURZWL":367.629713}}'
  recorded_at: Sat, 21 May 2016 12:57:18 GMT
recorded_with: VCR 3.0.1
