---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/live?access_key=currency_layer_key123&source=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 21 May 2016 12:04:06 GMT
      Etag:
      - f481c1748b4b17bd826634bbb57e4a66
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timestamp":1463832246,"source":"EUR","quotes":{"EURAED":4.121599,"EURAFN":77.102879,"EURALL":138.079917,"EURAMD":536.802565,"EURANG":2.009099,"EURAOA":185.974932,"EURARS":15.816639,"EURAUD":1.554763,"EURAWG":2.008647,"EURAZN":1.680087,"EURBAM":1.955514,"EURBBD":2.244299,"EURBDT":88.262602,"EURBGN":1.957309,"EURBHD":0.422882,"EURBIF":1751.618926,"EURBMD":1.122093,"EURBND":1.551316,"EURBOB":7.726044,"EURBRL":4.009047,"EURBSD":1.122256,"EURBTC":0.002537,"EURBTN":75.717023,"EURBWP":12.624685,"EURBYR":21988.515924,"EURBZD":2.238734,"EURCAD":1.471307,"EURCDF":1036.866378,"EURCHF":1.111192,"EURCLF":0.02761,"EURCLP":777.419419,"EURCNY":7.345534,"EURCOP":3424.777259,"EURCRC":601.573059,"EURCUC":1.122149,"EURCUP":1.122553,"EURCVE":110.365627,"EURCZK":27.023601,"EURDJF":199.484489,"EURDKK":7.438336,"EURDOP":51.439766,"EURDZD":123.65529,"EUREEK":15.652906,"EUREGP":9.964518,"EURERN":18.156816,"EURETB":24.328637,"EUREUR":1,"EURFJD":2.386532,"EURFKP":0.740399,"EURGBP":0.773416,"EURGEL":2.407055,"EURGGP":0.773496,"EURGHS":4.325931,"EURGIP":0.778664,"EURGMD":48.033647,"EURGNF":8242.242643,"EURGTQ":8.565535,"EURGYD":231.454461,"EURHKD":8.717422,"EURHNL":25.338076,"EURHRK":7.473234,"EURHTG":70.178604,"EURHUF":314.976095,"EURIDR":15308.922097,"EURILS":4.361126,"EURIMP":0.773496,"EURINR":75.660862,"EURIQD":1308.594319,"EURIRR":34081.91954,"EURISK":139.668311,"EURJEP":0.773496,"EURJMD":139.729978,"EURJOD":0.794987,"EURJPY":123.593525,"EURKES":113.168201,"EURKGS":76.577043,"EURKHR":4555.870076,"EURKMF":493.268732,"EURKPW":1009.934781,"EURKRW":1336.137524,"EURKWD":0.339125,"EURKYD":0.920592,"EURKZT":377.216035,"EURLAK":9094.964349,"EURLBP":1690.6863,"EURLKR":164.748355,"EURLRD":95.012381,"EURLSL":17.735514,"EURLTL":3.421101,"EURLVL":0.69635,"EURLYD":1.542511,"EURMAD":10.907909,"EURMDL":22.322861,"EURMGA":3617.753245,"EURMKD":61.567285,"EURMMK":1318.188751,"EURMNT":2240.93258,"EURMOP":8.979271,"EURMRO":399.631043,"EURMUR":39.652267,"EURMVR":17.259081,"EURMWK":793.028554,"EURMXN":20.592451,"EURMYR":4.575046,"EURMZN":62.009969,"EURNAD":17.729904,"EURNGN":223.577036,"EURNIO":31.934354,"EURNOK":9.345937,"EURNPR":121.147239,"EURNZD":1.659616,"EUROMR":0.431983,"EURPAB":1.122233,"EURPEN":3.739118,"EURPGK":3.553118,"EURPHP":52.507054,"EURPKR":117.550749,"EURPLN":4.418131,"EURPYG":6312.090308,"EURQAR":4.085466,"EURRON":4.506444,"EURRSD":122.572374,"EURRUB":74.95064,"EURRWF":872.016593,"EURSAR":4.212104,"EURSBD":8.752036,"EURSCR":14.851591,"EURSDG":6.827946,"EURSEK":9.32847,"EURSGD":1.550306,"EURSHP":0.778664,"EURSLL":4422.676487,"EURSOS":667.28612,"EURSRD":7.389396,"EURSTD":24518.401566,"EURSVC":9.819821,"EURSYP":246.712377,"EURSZL":17.584495,"EURTHB":40.051195,"EURTJS":8.829973,"EURTMT":3.927467,"EURTND":2.334688,"EURTOP":2.497701,"EURTRY":3.342827,"EURTTD":7.474679,"EURTWD":36.743656,"EURTZS":2459.022022,"EURUAH":28.231536,"EURUGX":3782.485232,"EURUSD":1.122149,"EURUYU":35.339292,"EURUZS":3270.055443,"EURVEF":11.165797,"EURVND":25051.983567,"EURVUV":125.635837,"EURWST":2.908687,"EURXAF":655.839704,"EURXAG":0.067845,"EURXAU":0.000897,"EURXCD":3.03385,"EURXDR":0.798354,"EURXOF":655.839704,"EURXPF":119.310391,"EURYER":279.527402,"EURZAR":17.537964,"EURZMK":5785.91814,"EURZMW":11.458772,"EURZWL":361.730456}}'
  recorded_at: Sat, 21 May 2016 12:03:59 GMT
recorded_with: VCR 3.0.1
