---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/live?access_key=currency_layer_key123&currencies=USD,GBP,CHF&source=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 21 May 2016 12:09:07 GMT
      Etag:
      - 64533345a3b9633ffe53e61dd627a67b
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timestamp":1463832547,"source":"EUR","quotes":{"EURUSD":1.122149,"EURGBP":0.773416,"EURCHF":1.111192}}'
  recorded_at: Sat, 21 May 2016 12:08:27 GMT
recorded_with: VCR 3.0.1
