---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/live?access_key=currency_layer_key123&currencies=EUR,GBP,CHF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 09 May 2016 16:21:06 GMT
      Etag:
      - f66266baf841d9dcf28db048f4e65121
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timestamp":1462810866,"source":"USD","quotes":{"USDEUR":0.876847,"USDGBP":0.69404,"USDCHF":0.9695}}'
  recorded_at: Mon, 09 May 2016 16:21:14 GMT
recorded_with: VCR 3.0.1
