---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/live?access_key=currency_layer_key123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 09 May 2016 13:21:07 GMT
      Etag:
      - cb6cf1beebc967658b205ce7ab1f3fbf
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timestamp":1462800067,"source":"USD","quotes":{"USDAED":3.67295,"USDAFN":68.510002,"USDALL":120.809502,"USDAMD":478.959991,"USDANG":1.79026,"USDAOA":165.729996,"USDARS":14.24395,"USDAUD":1.366792,"USDAWG":1.79,"USDAZN":1.507505,"USDBAM":1.715097,"USDBBD":2,"USDBDT":78.38195,"USDBGN":1.71685,"USDBHD":0.37695,"USDBIF":1562.199951,"USDBMD":1.00005,"USDBND":1.3679,"USDBOB":6.906157,"USDBRL":3.519297,"USDBSD":1.00021,"USDBTC":0.002175,"USDBTN":66.532501,"USDBWP":10.56395,"USDBYR":19445,"USDBZD":1.995025,"USDCAD":1.2978,"USDCDF":926.999987,"USDCHF":0.969898,"USDCLF":0.024599,"USDCLP":664.794983,"USDCNY":6.51575,"USDCOP":2962.300049,"USDCRC":536.140015,"USDCUC":1,"USDCUP":1.000012,"USDCVE":96.449501,"USDCZK":23.707958,"USDDJF":177.304993,"USDDKK":6.52701,"USDDOP":45.955002,"USDDZD":109.195022,"USDEEK":13.721988,"USDEGP":8.883599,"USDERN":16.179824,"USDETB":21.545499,"USDEUR":0.877424,"USDFJD":2.104797,"USDFKP":0.659799,"USDGBP":0.693337,"USDGEL":2.205037,"USDGGP":0.69318,"USDGHS":3.8175,"USDGIP":0.691011,"USDGMD":42.775002,"USDGNF":7447.799805,"USDGTQ":7.669495,"USDGYD":207.210007,"USDHKD":7.76295,"USDHNL":22.587899,"USDHRK":6.56145,"USDHTG":62.054501,"USDHUF":277.075012,"USDIDR":13330,"USDILS":3.781701,"USDIMP":0.69318,"USDINR":66.638451,"USDIQD":1107.099976,"USDIRR":30333.000103,"USDISK":122.639999,"USDJEP":0.69318,"USDJMD":123.385002,"USDJOD":0.709029,"USDJPY":108.355003,"USDKES":100.597984,"USDKGS":68.536697,"USDKHR":4058.949951,"USDKMF":431.418243,"USDKPW":899.999935,"USDKRW":1172.834961,"USDKWD":0.30126,"USDKYD":0.819547,"USDKZT":326.10495,"USDLAK":8109.950195,"USDLBP":1508.000135,"USDLKR":145.979996,"USDLRD":84.669998,"USDLSL":15.19175,"USDLTL":3.048704,"USDLVL":0.62055,"USDLYD":1.365602,"USDMAD":9.62855,"USDMDL":19.709999,"USDMGA":3144.949951,"USDMKD":54.025501,"USDMMK":1165.150024,"USDMNT":2017.000091,"USDMOP":7.995798,"USDMRO":345.999708,"USDMUR":34.959999,"USDMVR":15.349987,"USDMWK":687.679993,"USDMXN":18.030979,"USDMYR":4.03235,"USDMZN":54.240002,"USDNAD":15.19175,"USDNGN":198.889999,"USDNIO":28.416498,"USDNOK":8.201098,"USDNPR":106.452003,"USDNZD":1.477247,"USDOMR":0.384962,"USDPAB":1.00021,"USDPEN":3.31275,"USDPGK":3.15135,"USDPHP":47.229516,"USDPKR":104.695005,"USDPLN":3.873896,"USDPYG":5607.819824,"USDQAR":3.64005,"USDRON":3.938299,"USDRSD":107.699997,"USDRUB":66.259903,"USDRWF":778.72998,"USDSAR":3.75015,"USDSBD":7.802594,"USDSCR":13.23895,"USDSDG":6.099098,"USDSEK":8.13845,"USDSGD":1.368026,"USDSHP":0.701598,"USDSLL":3941.999861,"USDSOS":608.950012,"USDSRD":5.551029,"USDSTD":21516.5,"USDSVC":8.727202,"USDSYP":219.856995,"USDSZL":15.19175,"USDTHB":35.178501,"USDTJS":7.8694,"USDTMT":3.5,"USDTND":2.01495,"USDTOP":2.198452,"USDTRY":2.93625,"USDTTD":6.65205,"USDTWD":32.459025,"USDTZS":2190.600098,"USDUAH":25.180047,"USDUGX":3330.000318,"USDUSD":1,"USDUYU":31.565001,"USDUZS":2893.919922,"USDVEF":9.949664,"USDVND":22296.5,"USDVUV":108.349998,"USDWST":2.554373,"USDXAF":575.224243,"USDXAG":0.05836,"USDXAU":0.000787,"USDXCD":2.697124,"USDXDR":0.70715,"USDXOF":575.224243,"USDXPF":104.644798,"USDYER":249.550003,"USDZAR":15.15095,"USDZMK":5156.098782,"USDZMW":9.849843,"USDZWL":322.355011}}'
  recorded_at: Mon, 09 May 2016 13:20:44 GMT
recorded_with: VCR 3.0.1
