---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/live?access_key=currency_layer_key123&currencies=QQQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 6e279f93ee90791e298527a3d3134aed
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":202,"info":"You have provided one
        or more invalid Currency Codes. [Required format: currencies=EUR,USD,GBP,...]"}}'
  recorded_at: Tue, 10 May 2016 13:52:47 GMT
recorded_with: VCR 3.0.1
