---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/timeframe?access_key=currency_layer_key123&end_date=2016-06-01&start_date=2016-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 3e2f5c60cd3214d3bd9dde399945f132
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timeframe":true,"start_date":"2016-01-01","end_date":"2016-06-01","source":"USD","quotes":{"2016-01-01":{"USDAED":3.67295,"USDAFN":68.370003,"USDALL":126.169502,"USDAMD":483.749892,"USDANG":1.790045,"USDAOA":135.225006,"USDARS":12.98345,"USDAUD":1.369279,"USDAWG":1.79,"USDAZN":1.56205,"USDBAM":1.79975,"USDBBD":2,"USDBDT":78.698448,"USDBGN":1.80085,"USDBHD":0.37705,"USDBIF":1557.199951,"USDBMD":0.99995,"USDBND":1.4179,"USDBOB":6.900258,"USDBRL":3.95905,"USDBSD":1.002905,"USDBTC":0.002302,"USDBTN":66.15625,"USDBWP":11.29945,"USDBYR":18627,"USDBZD":1.994986,"USDCAD":1.38535,"USDCDF":924.999842,"USDCHF":1.00105,"USDCLF":0.024604,"USDCLP":708.655029,"USDCNY":6.511899,"USDCOP":3179.280029,"USDCRC":537.299988,"USDCUC":1.00002,"USDCUP":0.999573,"USDCVE":101.569693,"USDCZK":24.892503,"USDDJF":177.770004,"USDDKK":6.872598,"USDDOP":45.529999,"USDDZD":107.320075,"USDEEK":14.385,"USDEGP":7.830103,"USDERN":16.780001,"USDETB":21.183001,"USDEUR":0.920786,"USDFJD":2.127197,"USDFKP":0.663198,"USDGBP":0.676805,"USDGEL":2.391204,"USDGGP":0.65656,"USDGHS":3.810142,"USDGIP":0.678602,"USDGMD":39.355049,"USDGNF":7696.850098,"USDGTQ":7.633501,"USDGYD":207.210007,"USDHKD":7.750599,"USDHNL":22.354981,"USDHRK":7.03445,"USDHTG":56.640396,"USDHUF":289.88501,"USDIDR":13835,"USDILS":3.888801,"USDIMP":0.65678,"USDINR":66.234947,"USDIQD":1107.099976,"USDIRR":30130.000081,"USDISK":130.024994,"USDJEP":0.65679,"USDJMD":119.974998,"USDJOD":0.70905,"USDJPY":120.629997,"USDKES":102.589498,"USDKGS":75.8993,"USDKHR":4066.49954,"USDKMF":452.69635,"USDKPW":899.999731,"USDKRW":1175.64502,"USDKWD":0.303403,"USDKYD":0.819893,"USDKZT":341.569946,"USDLAK":8145.950195,"USDLBP":1508.099976,"USDLKR":144.654999,"USDLRD":84.660004,"USDLSL":15.465021,"USDLTL":3.0487,"USDLVL":0.62055,"USDLYD":1.37225,"USDMAD":9.91955,"USDMDL":19.700001,"USDMGA":3225.100098,"USDMKD":56.549999,"USDMMK":1306.750325,"USDMNT":1993.00023,"USDMOP":7.98255,"USDMRO":312.000324,"USDMUR":35.849998,"USDMVR":15.409766,"USDMWK":669.669983,"USDMXN":17.204399,"USDMYR":4.30295,"USDMZN":48.000096,"USDNAD":15.465018,"USDNGN":199.050003,"USDNIO":27.928301,"USDNOK":8.84475,"USDNPR":105.849998,"USDNZD":1.460524,"USDOMR":0.38505,"USDPAB":1.00292,"USDPEN":3.414496,"USDPGK":3.00905,"USDPHP":46.861503,"USDPKR":104.735001,"USDPLN":3.944804,"USDPYG":5781.970215,"USDQAR":3.64135,"USDRON":4.16725,"USDRSD":111.820353,"USDRUB":72.999496,"USDRWF":747.919983,"USDSAR":3.75405,"USDSBD":8.137236,"USDSCR":13.11395,"USDSDG":6.221198,"USDSEK":8.460101,"USDSGD":1.411095,"USDSHP":0.678603,"USDSLL":4148.000179,"USDSOS":621.200012,"USDSRD":3.999615,"USDSTD":22485,"USDSVC":8.727197,"USDSYP":220.494003,"USDSZL":15.465014,"USDTHB":35.950498,"USDTJS":6.990201,"USDTMT":3.5,"USDTND":2.04075,"USDTOP":2.201293,"USDTRY":2.91395,"USDTTD":6.422502,"USDTWD":32.917999,"USDTZS":2166.100098,"USDUAH":24.027999,"USDUGX":3372.000293,"USDUSD":1,"USDUYU":29.915001,"USDUZS":2809.97998,"USDVEF":6.350034,"USDVND":22485,"USDVUV":112.504997,"USDWST":2.582851,"USDXAF":603.595093,"USDXAG":0.072176,"USDXAU":0.000943,"USDXCD":2.722327,"USDXDR":0.72255,"USDXOF":603.595093,"USDXPF":109.806053,"USDYER":215.125017,"USDZAR":15.470981,"USDZMK":5156.085792,"USDZMW":11.000323,"USDZWL":322.355011},"2016-01-02":{"USDAED":3.67295,"USDAFN":68.370003,"USDALL":126.169502,"USDAMD":483.750403,"USDANG":1.790403,"USDAOA":135.225006,"USDARS":12.98345,"USDAUD":1.369279,"USDAWG":1.79,"USDAZN":1.56205,"USDBAM":1.79975,"USDBBD":2,"USDBDT":78.698448,"USDBGN":1.80085,"USDBHD":0.37705,"USDBIF":1557.199951,"USDBMD":0.99995,"USDBND":1.417904,"USDBOB":6.903946,"USDBRL":3.95905,"USDBSD":1.002905,"USDBTC":0.002306,"USDBTN":66.15625,"USDBWP":11.29945,"USDBYR":18627,"USDBZD":1.995041,"USDCAD":1.38535[...]
