---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/timeframe?access_key=currency_layer_key123&end_date=2016-06-01&source=EUR&start_date=2016-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 255c799b3b1cd815470aadfaa7427876
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timeframe":true,"start_date":"2016-01-01","end_date":"2016-06-01","source":"EUR","quotes":{"2016-01-01":{"EURAED":3.988929,"EURAFN":74.251784,"EURALL":137.023697,"EURAMD":525.366254,"EURANG":1.94404,"EURAOA":146.858234,"EURARS":14.100399,"EURAUD":1.487076,"EURAWG":1.943991,"EURAZN":1.696431,"EURBAM":1.95458,"EURBBD":2.172057,"EURBDT":85.468771,"EURBGN":1.955775,"EURBHD":0.409487,"EURBIF":1691.1638,"EURBMD":1.085974,"EURBND":1.53988,"EURBOB":7.493878,"EURBRL":4.299642,"EURBSD":1.089184,"EURBTC":0.0025,"EURBTN":71.847585,"EURBWP":12.271526,"EURBYR":20229.456139,"EURBZD":2.166612,"EURCAD":1.50453,"EURCDF":1004.576353,"EURCHF":1.087169,"EURCLF":0.02672,"EURCLP":769.619683,"EURCNY":7.072109,"EURCOP":3452.789279,"EURCRC":583.523194,"EURCUC":1.08605,"EURCUP":1.085565,"EURCVE":110.3076,"EURCZK":27.033972,"EURDJF":193.063322,"EURDKK":7.463839,"EURDOP":49.446885,"EURDZD":116.552679,"EUREEK":15.622523,"EUREGP":8.503716,"EURERN":18.223562,"EURETB":23.005347,"EUREUR":1,"EURFJD":2.310197,"EURFKP":0.720252,"EURGBP":0.73503,"EURGEL":2.596916,"EURGGP":0.713043,"EURGHS":4.137924,"EURGIP":0.736981,"EURGMD":42.740712,"EURGNF":8358.999917,"EURGTQ":8.290201,"EURGYD":225.036009,"EURHKD":8.417372,"EURHNL":24.27815,"EURHRK":7.639614,"EURHTG":61.513094,"EURHUF":314.823433,"EURIDR":15025.206726,"EURILS":4.22335,"EURIMP":0.713282,"EURINR":71.933052,"EURIQD":1202.342321,"EURIRR":32722.04408,"EURISK":141.210872,"EURJEP":0.713293,"EURJMD":130.296288,"EURJOD":0.770049,"EURJPY":131.007636,"EURKES":111.415136,"EURKGS":82.428816,"EURKHR":4416.335109,"EURKMF":491.641217,"EURKPW":977.425516,"EURKRW":1276.784204,"EURKWD":0.329504,"EURKYD":0.890427,"EURKZT":370.954756,"EURLAK":8846.735501,"EURLBP":1637.839819,"EURLKR":157.099477,"EURLRD":91.943192,"EURLSL":16.795457,"EURLTL":3.310976,"EURLVL":0.673935,"EURLYD":1.490303,"EURMAD":10.772916,"EURMDL":21.394766,"EURMGA":3502.551188,"EURMKD":61.414921,"EURMMK":1419.168325,"EURMNT":2164.4554,"EURMOP":8.669279,"EURMRO":338.841298,"EURMUR":38.934126,"EURMVR":16.735448,"EURMWK":727.280805,"EURMXN":18.684471,"EURMYR":4.673127,"EURMZN":52.12948,"EURNAD":16.795453,"EURNGN":216.174011,"EURNIO":30.330936,"EURNOK":9.605652,"EURNPR":114.956133,"EURNZD":1.586171,"EUROMR":0.418175,"EURPAB":1.0892,"EURPEN":3.708241,"EURPGK":3.267915,"EURPHP":50.892936,"EURPKR":113.745214,"EURPLN":4.28417,"EURPYG":6279.385454,"EURQAR":3.954611,"EURRON":4.525753,"EURRSD":121.440109,"EURRUB":79.279546,"EURRWF":812.262549,"EURSAR":4.077006,"EURSBD":8.837272,"EURSCR":14.242126,"EURSDG":6.756399,"EURSEK":9.187912,"EURSGD":1.532489,"EURSHP":0.736982,"EURSLL":4504.847141,"EURSOS":674.641026,"EURSRD":4.343696,"EURSTD":24419.354769,"EURSVC":9.477987,"EURSYP":239.46281,"EURSZL":16.795449,"EURTHB":39.043272,"EURTJS":7.591559,"EURTMT":3.8011,"EURTND":2.216313,"EURTOP":2.390667,"EURTRY":3.164634,"EURTTD":6.975021,"EURTWD":35.749891,"EURTZS":2352.44682,"EURUAH":26.095096,"EURUGX":3662.089012,"EURUSD":1.086029,"EURUYU":32.488549,"EURUZS":3051.718836,"EURVEF":6.896319,"EURVND":24419.354769,"EURVUV":122.183653,"EURWST":2.80505,"EURXAF":655.521579,"EURXAG":0.078385,"EURXAU":0.001024,"EURXCD":2.956526,"EURXDR":0.78471,"EURXOF":655.521579,"EURXPF":119.252522,"EURYER":233.631937,"EURZAR":16.801929,"EURZMK":5599.657023,"EURZMW":11.946666,"EURZWL":350.086786},"2016-01-02":{"EURAED":3.988929,"EURAFN":74.251784,"EURALL":137.023697,"EURAMD":525.36681,"EURANG":1.944429,"EURAOA":146.858234,"EURARS":14.100399,"EURAUD":1.487076,"EURAWG":1.943991,"EURAZN":1.696432,"EURBAM":1.954581,"EURBBD":2.172057,"EURBDT":85.468771,"EURBGN":1.955775,"EURBHD":0.409488,"EURBIF":1691.1638,"EURBMD":1.085974,"EURBND":1.539885,"EURBOB":7.497883,"EURBRL":4.299642,"EURBSD":1.089184,"EURBTC":0.002504,"EURBTN":71.847585,"EURBWP":12.271527,"EURBYR":20229.456139,"EURBZD":[...]
