---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/timeframe?access_key=currency_layer_key123&currencies=GBP,CHF&end_date=2016-06-01&start_date=2016-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ae80a7c56539e2961d78886b5a6565b7
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timeframe":true,"start_date":"2016-01-01","end_date":"2016-06-01","source":"USD","quotes":{"2016-01-01":{"USDGBP":0.676805,"USDCHF":1.00105},"2016-01-02":{"USDGBP":0.676805,"USDCHF":1.00105},"2016-01-03":{"USDGBP":0.678649,"USDCHF":0.999715},"2016-01-04":{"USDGBP":0.67969,"USDCHF":1.002575},"2016-01-05":{"USDGBP":0.681587,"USDCHF":1.00852},"2016-01-06":{"USDGBP":0.683574,"USDCHF":1.00756},"2016-01-07":{"USDGBP":0.683826,"USDCHF":0.993915},"2016-01-08":{"USDGBP":0.688682,"USDCHF":0.994765},"2016-01-09":{"USDGBP":0.688682,"USDCHF":0.994765},"2016-01-10":{"USDGBP":0.688658,"USDCHF":0.992355},"2016-01-11":{"USDGBP":0.687659,"USD[...]
