---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/validate?access_key=invalid_code_1234&vat_number=LU26375245
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":101,"type":"invalid_access_key","info":"You
        have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]"}}'
  recorded_at: Tue, 10 May 2016 10:58:06 GMT
recorded_with: VCR 3.0.1
