---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/validate?access_key&vat_number=LU26375245
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":101,"type":"missing_access_key","info":"You
        have not supplied an API Access Key. [Required format: access_key=YOUR_ACCESS_KEY]"}}'
  recorded_at: Tue, 10 May 2016 10:54:40 GMT
recorded_with: VCR 3.0.1
