---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/price?access_key=vat_layer_key123&amount=100&ip_address=176.249.153.36
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"country_code":"GB","country_name":"United Kingdom","price_excl_vat":100,"price_incl_vat":120,"vat_rate":20}'
  recorded_at: Mon, 09 May 2016 17:19:09 GMT
recorded_with: VCR 3.0.1
