---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/price?access_key=vat_layer_key123&amount=100&country_code=NL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"country_code":"NL","country_name":"Netherlands","price_excl_vat":100,"price_incl_vat":121,"vat_rate":21}'
  recorded_at: Mon, 09 May 2016 17:15:20 GMT
recorded_with: VCR 3.0.1
