---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/rate?access_key=vat_layer_key123&country_code=NL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"country_code":"NL","country_name":"Netherlands","standard_rate":21,"reduced_rates":{"foodstuffs":6,"books":6,"pharmaceuticals":6,"medical":6,"passenger
        transport":6,"admission to cultural events":6,"admission to entertainment
        events":6,"hotels":6,"accommodation":6}}'
  recorded_at: Mon, 09 May 2016 16:32:06 GMT
[...]
- request:
    method: get
    uri: http://apilayer.net/api/rate?access_key=vat_layer_key123&country_code=DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"country_code":"DE","country_name":"Germany","standard_rate":19,"reduced_rates":{"foodstuffs":7,"books":7,"medical":7,"passenger
        transport":7,"newspapers":7,"admission to cultural events":7,"admission to
        entertainment events":7,"hotels":7}}'
  recorded_at: Mon, 09 May 2016 16:32:51 GMT
- request:
    method: get
    uri: http://apilayer.net/api/rate?access_key=vat_layer_key123&country_code=MY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"country_code":"MY","country_name":"Malaysia","standard_rate":0,"reduced_rates":null}'
  recorded_at: Mon, 09 May 2016 16:33:01 GMT
- request:
    method: get
    uri: http://apilayer.net/api/rate?access_key=vat_layer_key123&country_code=HK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"country_code":"HK","country_name":"Hong Kong","standard_rate":0,"reduced_rates":null}'
  recorded_at: Mon, 09 May 2016 16:33:08 GMT
- request:
    method: get
    uri: http://apilayer.net/api/rate?access_key=vat_layer_key123&country_code=CN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"country_code":"CN","country_name":"China","standard_rate":0,"reduced_rates":null}'
  recorded_at: Mon, 09 May 2016 16:33:12 GMT
- request:
    method: get
    uri: http://apilayer.net/api/rate?access_key=vat_layer_key123&country_code=GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"country_code":"GB","country_name":"United Kingdom","standard_rate":20,"reduced_rates":{"property
        renovations":5,"foodstuffs":0,"books":0,"pharmaceuticals":0,"medical":0,"passenger
        transport":0,"newspapers":0,"childrens clothing":0}}'
  recorded_at: Mon, 09 May 2016 16:33:15 GMT
recorded_with: VCR 3.0.1
