---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/validate?access_key=vat_layer_key123&vat_number=LU26375245
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"valid":true,"database":"ok","format_valid":true,"query":"LU26375245","country_code":"LU","vat_number":"26375245","company_name":"AMAZON
        EUROPE CORE S.A R.L.","company_address":"5, RUE PLAETIS\nL-2338  LUXEMBOURG"}'
  recorded_at: Mon, 09 May 2016 13:03:05 GMT
recorded_with: VCR 3.0.1
